interactions:
- request:
    body: '{"properties": {"token": "password1234"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Web/sourcecontrols/GitHub?api-version=2022-03-01
  response:
    body:
      string: '{"id":null,"name":"GitHub","type":"Microsoft.Web/sourcecontrols","properties":{"name":"GitHub","token":"password1234","tokenSecret":null,"refreshToken":null,"environment":null}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
